.background {
    background-color: rgb(202, 150, 86);
}
nav,ul {
   background-color: rgb(205, 205, 219);
   font-size: 20px;
   color: red;
}
table{background-color: rgb(201, 178, 224);
    color: blue;
    font-size: 20px;
}
.row{ 
    background-color: yellowgreen;
}
.box{ 
    background-color: rgb(231, 188, 188);
    color: red;
    font-size: 16px;
}
footer{
    background-color: aqua;
}